.TodoItem {
    align-items: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 4px 2px #f8faff;
    color: #42465e;
    /* cursor: pointer; */
    display: flex;
    font-size: 16px;
    margin-bottom: 15px;
    min-height: 60px;
    padding: 15px;
    width: 100%;
}

.TodoItem-text {
    width: 100%;
}

.TodoItem-text--marked {
    text-decoration: line-through;
}

.TodoItem-icon {
    margin-right: 10px;
    cursor: pointer;
}
